@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.interface {
    max-width: 1400px;
    margin: auto;    
}
body {
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding:10px 4%;
    background-color:#0F2A3D ;
}
header .container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header div.container div.logo {
    max-width: 100px;
    
}
header div.container-menu div.logo {
    display: flex;
    align-items: center;
}
header div.container-menu div.logo div i {
    font-size: 2.5em;
    color:#D97706 ;
}
header div.container-menu div.logo  {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}
header div.container-menu div.logo div i {
    font-size: 2.5em;
    color: #D97706;
}
header div.container-menu div.logo span {
    font-size: 2em;
    font-weight: bold;
    color:#D97706;
}
.container-menu nav ul {
    display: flex;
    list-style: none;
    
}
.container-menu nav ul li {
    margin: 0 30px;
}
.container-menu nav ul li a {
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}
.container-menu nav ul li a:hover {
    color: #F59E0B;
    border-bottom: 3px solid #F59E0B;
    
}
.btn {
    padding: 15px 40px;
    background-color:#D97706 ;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color .3s;
}
.btn:hover {
    background-color: transparent;
    border: 1px solid white;
}
.btn-secundario {
    padding: 15px 40px;
    background-color: transparent;
    transition: background-color .3s;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-secundario:hover {
    background-color: #0F2A3D;
}
.container-menu .container-menu .btn:hover {
    background-color: #F59E0B;
}
/*inicio main*/
section.principal {
    height:60vh;
    background:#0F2A3D  url(imagens/casa-1.jpg) center center no-repeat scroll;
    background-size: cover;
    color: white;
   
}
section.principal .conteudo-principal{
    padding-top:280px;     
}
section.principal .texto-principal {
    
}
section.principal .texto-principal h1 {
    text-shadow: #0c0f1100;
    color: #D97706;
    font-size: 1.2em;
    padding-bottom: 20px;
}
section.principal .texto-principal h2 {
    font-size: 2.5em;
    padding-bottom: 20px;
    text-shadow:5px 2px 2px black;
}
section.principal .texto-principal p {
    text-shadow:5px 2px 2px black;
    line-height: 1.5;
}
section.principal .botao {
    margin-top:20px;
    display: inline-block;
    padding-right: 20px;
}

/*Serviços*/

section.servicos .interface .titulo {
    text-align: center;
    margin: 50px 0;
}
section.servicos .interface .titulo h2 {
    color: #F59E0B;
    font-size: 1em;
    padding-bottom: 20px;
}
section.servicos .interface .titulo h3 {
    font-size: 2em;
}

section.servicos .interface .servico-itens {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
section.servicos .interface .servico-itens .itens {
background-color:rgba(240, 255, 255, 0.705) ;
border: 1px solid black; 
border-radius: 5px;
padding:10px 10px 80px 10px;   
}
section.servicos .interface .servico-itens .itens span i {
    color: #D97706;
    font-size: 3em;
}
section.servicos .interface .servico-itens h2 {
    color: black;
}

/*Sobre*/
section.sobre .interface {
    display: flex;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
section.sobre .interface .img-sobre {
    background: black url(imagens/predio.jpg) center center no-repeat ;
    background-size: cover;
    border-radius: 10px;
    width: 1000px;
    height: 400px;
}
section.sobre .interface .sobre-titulo h2 {
    color: #F59E0B;
}
section.sobre .interface .sobre-titulo h3 {
    font-size: 2.4em;
}
section.sobre .interface .sobre-titulo p {
    font-size: 1.1em;
    line-height: 1.5;
    padding-top: 30px;
}
section.sobre .interface .sobre-itens {
    display: flex;
    gap: 10px;
    margin: 50px 0;
}
section.sobre .interface .sobre-itens .itens-s span i {
    font-size: 2em;
}
section.sobre .interface .sobre-itens .itens-s {
    border-right: 2px solid #0f2a3d93;
    padding-right: 10px;
}
section.sobre .interface .sobre-itens .itens-s h2 {
    font-size: 1.2em;
    padding-bottom: 10px;
}
section.sobre .interface .sobre-itens .itens-s p {
    font-size: 1em;
    line-height: 1.5;
}
/*Projetos*/
section.projetos {
    margin-bottom: 25px;
}
section.projetos .projeto-titulo {
    text-align: center;
    margin-bottom: 30px;
}
section.projetos .projeto-titulo h2 {
    color: #D97706;
}
section.projetos .projeto-titulo h3 {
    font-size:2.4em ;
}

section.projetos .projeto-links {
    text-align: center;
    margin-bottom: 30px;
    padding: 15px 30;
}
section.projetos .projeto-links a {
    background-color: transparent;
    transition: background-color .3s;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
section.projetos .projeto-links a:hover {
    color: #D97706;
    background-color: #0F2A3D;
    border: 2px solid ;
}
section.projetos .projeto-img {
    display: flex;
    justify-content: space-between;
}
section.projetos .projeto-img .projeto-imagem {
    width: 330px;
    height: 280px;
}
section.projetos .projeto-img .projeto-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/*Footer*/
footer {
    background-color:#0F2A3D;
    color: white;
    padding: 30px 0;
}
footer .interface {
    display: flex;
    justify-content: space-between;
}
footer .footer-itens {
    display: flex;
    gap: 10px;
}
footer .footer-itens div span i {
    font-size: 3em;
    color: #D97706;
}
